<!--{% if page.image %}
  {% assign postImage = page.image %}
{% elsif post.image %}
  {% assign postImage = post.image %}
{% else %}
  {% if page.video %}
    {% assign postVideo = page.video %}
  {% elsif post.video %}
    {% assign postVideo = post.video %}
  {% else %}
    {% assign postImage = site.default_image %}
  {% endif %}
{% endif %}-->

{% assign titleImage = page.title-header-image %}
{% assign titleVideo = page.title-video %}

<div id="top-video-container">
<video  poster="assets\images\onLoad\smol.png"
	loop
	muted
	autoplay
	preload="auto"
	poster="{{ postImage }}">
<source src="{{titleVideo}}.mp4" type="video/mp4">
<source src="{{titleVideo}}.webm" type="video/webm">
Browser unable to read video!
</video> 
</div>

<script>
 $('#top-video-container').on('loadstart', function (event) {
    $(this).addClass('loading');
  });
  $('#top-video-container').on('canplaythrough', function (event) {
    $(this).removeClass('loading');
    $(this).attr('poster', '');
  });

</script>