

<div class="bodymenu-container">

  <a href="/animation/">
    <div class="card1">
<!-- The two img switch system -->
        <img class="idle-img" src="assets\images\Home\sampleRed.png" alt="1st Button">

          <picture class="animated-img">
            <source srcset="assets\images\Home\Animation_hover.webp" type="image/webp" class="image-animated">
            <source srcset="assets\images\Home\Animation_hover.gif" type="image/gif" class="image-animated"> 
            <img src="assets\images\Home\Animation_hover.gif" alt="Animation!" class="image-animated">
          </picture> 
        
          <h2 class="title">ANIMATION</h2>
    </div>
  </a>

    <div class="card1">
        
                <img class="idle-img" src="assets\images\Home\sampleRed.png" alt="1st Button">
        
                  <picture class="animated-img">
                    <source srcset="assets\images\Home\Animation_hover.webp" type="image/webp" class="image-animated">
                    <source srcset="assets\images\Home\Animation_hover.gif" type="image/gif" class="image-animated"> 
                    <img src="assets\images\Home\Animation_hover.gif" alt="Animation!" class="image-animated">
                  </picture> 

                  <h2 class="title">STORY</h2>
        
            </div> 

</div>