@import 'typography';
@import 'colors';
@import 'subheader';
@import 'home-circles';
@import 'gridy-menu';

$mainColor1: rgb(134, 40, 40);


body{
    
  margin: 0px;
  background-color: white;
  font-family: $font-robo; 
  overflow-x: hidden;
}

//Loading
#loader {
  // border: 12px solid #f3f3f3;
  // border-radius: 50%;
  // border-top: 12px solid #444444;
  // width: 70px;
  // height: 70px;
  // animation: spin 1s linear infinite;

  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 5;

}

// @keyframes spin {
//   100% {
//       transform: rotate(360deg);
//   }
// }

.centerLoad {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
img{

  max-width: 50%;
  height: auto;
  object-position: center;
  margin: 25%;
}

}
//End Loading

// --------- Main Navigation 

.topnav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0%;
    margin: 0px;
    background-color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    overflow: hidden;
    transition: ease-in-out 1s;
    
}

.topnav nav {
  margin-top: 0;
  
}

.topnav a {

color: aliceblue;
   float: right;
   text-align: center;
   padding: 18px 18px;
   //padding-left: 10px;
   text-decoration: none; 
   font-size: 17px;
   transition: 1s;

}

.topnav a:hover {
    background-color: rgb(73, 73, 73);
    color: #ddd;
    
  }


.topnav .active {

    color: orangered;
    background-color: rgb(177, 177, 177);
    

}



.transnav {

    opacity: 0.5;
    transition: opacity 1s;
    
}

.mobile-nav-toggle{

  display: none;

}


@media screen and (max-width: 550px) {
  .topnav {
      
     // background-color: red;
      height: 100%;
      transform: translateY(-100%);
      transition: transform 200ms ease-in-out;
      z-index: 900;

      a{
        font-size: calc(16px + 6vw);
        padding: auto;

      }
        
  }

  .topnav[data-visible="true"]{
    transform: translateY(0%);
  }

  .topnav nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: calc(20px + 10vh);
    //gap: 5vh;
   
    
  }
  .mobile-nav-toggle{

  display: block;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  background-image: url("/assets/images/icons/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 10vw;
  border: 0;
  aspect-ratio: 1;
  top: 2%;
  right: 2vh;

 }

 .mobile-nav-toggle[ aria-expanded="true"]{
 
  background-image: url("/assets/images/icons/hamburger-icon-cross.svg");

 }

}

//---------- End Main Navigation 


#top-video-container{
     
    //padding-top: 28px;
    width: 100%;
    height: auto; // Maybe add a max-height
    background-color: $mainColor1;
    background-image: url("/assets/images/onLoad/loaderHead-still.webp"); 
    overflow: hidden;

  iframe{
    
    width: 1920px;
    height: 1080px;

  }

  video{
   /* position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);*/
    
    position: relative; //absolute + top gives me control over exact px location relative seems to work better
    top: 56px;
    max-width: 100%;
    height: auto;
    //z-index: -100;

    
  }

  video.loading{
  
    background-image: url("/assets/images/onLoad/loaderHead-still.webp");
    background-size:100%;
    background-position: center;
    width: 100%;
    max-height: 100vh;

  }

}

